<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493193560263-28gs9v48mddut0jh6aflpd7t8c6cdv01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493193560263-28gs9v48mddut0jh6aflpd7t8c6cdv01</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>493193560263-5gj0r2tt8dietdth1on96o96prl5ojcn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFlWYNtGOjlLcyjEyH5JxlPuBgR3ASWcA</string>
	<key>GCM_SENDER_ID</key>
	<string>493193560263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>badawy-88afa</string>
	<key>STORAGE_BUCKET</key>
	<string>badawy-88afa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493193560263:ios:da40ebec5b47d8e996bee2</string>
</dict>
</plist>